.assessment-inner {
  width: 100%;
  display: flex;
  padding: 10px;

  .assessment-info{
    width: 60%;
  }

  .assessment-actions {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-start;



  }
}

.home-rs{
  width: 30%;
  background-color: #8980C2;
  height: 100%;
  padding: 15px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  // margin-bottom: 30px;
  padding-bottom: 100px;

  .rs-top {
    width: 100%;
    .search-input {
      margin-bottom: 10px;
      width: 100%;
      // .sc-ion-input-md-h {
      //   width: 100%;
      // }
    }
  }

  .rs-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 100%;

    .action-group {

    }

    .footer {
      margin-top: 10px;
      border-top: 2px solid white;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      i {
        font-size: 50px;
      }

      .name-section {
        padding: 15px;
        width: 100%;
        h2, h5 {
          margin: 0;
          padding: 0;
          color: white;
        }
        h5 {
          padding: 10px 0;
        }
      }
    }
  }
}
