.new-page-wrapper {
  height: 100%;
  color: black;
  .content-wrapper {
    height: 100%;
    background-color: white;

    // display: flex;
    // justify-content: flex-start;
    // align-items: center;
  }

  .header-info {
    padding: 10px;
    background-color: #efefef;
    width: 50%;
    margin: 15px;
    border-radius: 5px;
    box-shadow: 2px 5px 10px -3px rgba(0,0,0,0.71);
  }

  .panel-wrappers {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .assessment-info {
      width: 50%;
      padding: 20px;

      .item-input, .item-select {
        margin: 10px 0;
      }

      #open-date-input {
        margin: 10px 0;
      }

      .start-button {
        margin-top: 30px;
        p {
          padding-left: 10px;
        }
      }
    }
    .assessment-choices {
      width: 50%;
      padding: 20px;

      .tm-fields-wrapper {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        margin: 10px 0;

        .item-input {
          width: 50%;
          margin-right: 5px;
        }
      }

      .added-members {
        margin: 10px 0;
      }
    }
  }


}
