.register-wrapper {
  min-height: 100%;
  width: 100%;
  background-color: white;
  color: black;

  display: flex;
  align-items: center;
  flex-direction: column;
}

.register-container {
  width: 45vw;
  padding: 0px 25px 0px 25px;
  
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid grey;
  border-radius: 1vw;
}

.notes-container {
  font-size: 1em;
  text-align: center;
  max-width: 75%;
  margin-bottom: 3vw;
}

.top-container,
.bottom-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.item-input,
.item-select,
ion-button {
  margin: 15px 0;
}