.topbar-wrapper {
  background-color: #222428;
  width: 100%;
  padding-left: 20px;
}

ion-col.topbar-header {
  padding: 0;
  padding-left: 5px;
}

.topbar-header {
    h1 {
        margin-bottom: 0px;
        margin-top: 10px;
    }
}

.right-info {
  float: right;
}

span {
  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

.popover-wrapper {
  min-height: 100%;
  background-color: white;
}

ion-popover.thread-popover {
  --width: 30%;
}

.thread-popup {
  height: auto;
  padding: 10px;

  background-color: white;
  color: black;

  box-shadow: 0px 3px 8px -2px rgba(0, 0, 0, 0.75);
  border-radius: 5px;
  z-index: 20000;

  h4 {
    padding: 3px;
    width: 80%;
    padding-left: 6px;
  }

  .arrow {
    font-size: medium;
    position: absolute;
    top: 30%;
    right: 10px;
  }

  .thread-header,
  .subheader {
    background-color: white;
    border-top: 0.5px solid lightgray;
    border-bottom: 0.5px solid lightgray;
    padding: 0;
    padding: 10px 0 10px 10px;
    margin: 0;
    position: relative;

    p {
      color: darkslateblue;
      font-size: 0.8em;
    }

    &:hover {
      background-color: #bbb9cc;
      cursor: pointer;
    }
  }

  .subheader {
    padding-left: 20px;
  }
}

.subthread-box {
  min-height: 100%;

  box-shadow: 0px 3px 8px -2px rgba(0, 0, 0, 0.75);
  border-radius: 5px;
  z-index: 20000;
  background-color: white;
  color: black;
  padding: 10px 10px 0 10px;

  h4 {
    padding: 3px;
    padding-left: 6px;
  }

  h6 {
    color: #494949;
    padding: 3px;
    padding-left: 6px;
  }

  .question {
    background-color: white;
    border-top: 0.5px solid lightgray;
    border-bottom: 0.5px solid lightgray;
    padding: 0;
    padding: 0px 0 10px 10px;
    margin: 0;
    color: darkslateblue;
    position: relative;

    p {
      width: 90%;
      &:hover {
        background-color: #bbb9cc;
      }
    }

    .arrow {
      font-size: medium;
      position: absolute;
      top: 30%;
      right: 10px;
    }
  }
}

ion-popover.question-history-popover {
  --width: 70%;
  --height: 70%;
  --border-radius: 0;
}

.question-history {
  padding: 10px;
  min-height: 100%;
  background-color: white;
  color: black;

  .header {
    width: 100%;
    background-color: darkslateblue;
    margin: 0;

    h2 {
      color: white;
      padding: 25px 20px;
      margin: 0;
    }
  }

  .answers-list {
    width: 100%;
    margin-left: 10px;
  }
}

.additional-info {
  padding: 10px;
  background-color: white;
  color: black;
}
