.matrix-wrapper {
  padding-left: 20px;
  padding-top: 2em;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 25vw;
  height: 25vw;
}

.matrix-top-wrapper {
  display: flex;
}

.matrix-bottom-wrapper {
  display: flex;
  width: 100%;
  // easiest way to offset bottom div by size of y-axis label and arrow
  padding-left: 4em;
  justify-content: flex-end;
}

.y-axis-wrapper {
  display: flex;
  height: 100%;
  align-items: center;
}

.y-axis-label {
  width: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  h4 {
    transform: rotate(-90deg);
    height: 1em;
  }
}

$arrow-width: 1em;

$basic-cell-size: 4vw;

.y-axis-arrow-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 2em;
  height: 5 * $basic-cell-size;
  margin-right: 1em;
}

.y-axis-arrow-head-wrapper {
  width: 100%;
  height: $arrow-width;
}

.y-axis-arrow-head {
  width: 0;
  height: 0;
  border-left: $arrow-width solid transparent;
  border-right: $arrow-width solid transparent;
  border-bottom: $arrow-width solid black;
}

.y-axis-arrow-body {
  background: black;
  width: 0.75em;
  height: 96%;
}

.x-axis-arrow-wrapper {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-start;
  height: 2em;
  width: 5 * 4vw;
  margin-top: 1em;
}

.x-axis-arrow-head-wrapper {
  height: 2em;
}

.x-axis-arrow-head {
  width: 0;
  height: 0;
  border-top: $arrow-width solid transparent;
  border-bottom: $arrow-width solid transparent;
  border-left: $arrow-width solid black;
}

.x-axis-arrow-body {
  background: black;
  height: 0.75em;
  width: 96%;
}

.x-axis-label-wrapper {
  width: 5 * 4vw;
  display: flex;
  justify-content: center;
}

table {
  width: 100%;
  table-layout: auto;
}

@media screen and (max-width: 1024px) {
  .matrix-wrapper {
    width: 100%;
    height: auto;
    display: block;
    margin: 7px 0;

    table {
      float: none;
      width: 90%;
      height: 300px;
      margin: 0 auto;
    }
  }

  .y-axis-wrapper {
    height: 300px;
  }

  .y-axis-label {
    height: 300px;
  }

  .y-axis-arrow-wrapper {
    height: 300px;
  }

  .x-axis-wrapper {
    width: 100%;
  }

  .x-axis-arrow-wrapper {
    width: 100%;
  }

  .x-axis-label-wrapper {
    width: 100%;
  }
}

@media screen and (min-width: 421px) and (max-width: 1024px) {
  table {
    width: 80%;
    height: 500px;
  }

  .x-axis-arrow-wrapper {
    height: 5em;
  }
}

$basic-cell-size: 4vw;
%digit-cell {
  text-align: center;
  background-clip: padding-box;
  width: $basic-cell-size;
  height: $basic-cell-size;
  border: solid black 2px;
  filter: brightness(120%);
  font-size: 1.8em;
  font-weight: bold;
}

.low-risk-cell {
  background-color: green;
  @extend %digit-cell;
}
.med-risk-cell {
  background-color: yellow;
  @extend %digit-cell;
}
.high-risk-cell {
  background-color: red;
  @extend %digit-cell;
}

img {
  cursor: pointer;
}
